//设置全局样式

// 头部高度
$base-header-height: 64px;

//左侧宽度
$base-aside-width: 255px;

//左侧宽度
$base-aside-collapsed-width: 100px;

//网站整体内边距
$base-padding: 16px 16px 0 0;

//网站整体内边距
$base-header-padding: 16px;

//头部左侧距离
$base-header-margin: 16px;

//内容距离
$base-content-margin: 16px 0 0 16px;

//背景颜色
$base-background: #f6f8fc;

//滚动条背景颜色
$simplebar-scrollbar-backColor: #272E3B;
